#  Regression on Sale Price

Notes: 
 - Cleaned data is  stored in `./clean_data`

In [113]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [114]:
# Read cleaned Data
dt = pd.read_csv("./clean_data/clean_data.csv")

In [126]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34127 entries, 0 to 34126
Data columns (total 43 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Unnamed: 0                            34127 non-null  int64
 1   CategoryCode                          34127 non-null  int64
 2   StartDate                             34127 non-null  int64
 3   CompletionDate                        34127 non-null  int64
 4   SaleDate                              34127 non-null  int64
 5   Division                              34127 non-null  int64
 6   MetropolitanArea                      34127 non-null  int64
 7   SalesPrice                            18734 non-null  float64
 8   ContractPrice                         4787 non-null   float64
 9   LotValue                              34127 non-null  int64
 10  ClosingCostsinSalesPrice              34127 non-null  int64
 11  TypeofFinancing                       28135 non-null  float64
 12  SquareFootAreaoftheLot                30456 non-null  float64
 13  FinishedBasement                      34127 non-null  int64
 14  SquareFootAreaofFinishedBasement      2113 non-null   float64
 15  DesignofHouse                         34089 non-null  float64
 16  Condominium                           34127 non-null  int64
 17  ConstructionMethod                    34008 non-null  float64
 18  Bedrooms                              33416 non-null  float64
 19  FullBathrooms                         34127 non-null  int64
 20  HalfBathrooms                         17606 non-null  float64
 21  Stories                               33676 non-null  float64
 22  Fireplace                             21963 non-null  float64
 23  ParkingFacility                       34127 non-null  int64
 24  Foundation                            33780 non-null  float64
 25  SecondaryExteriorWallMaterial         32976 non-null  float64
 26  PrimaryExteriorWallMaterial           33293 non-null  float64
 27  SecondaryExteriorWallMaterial.1       32936 non-null  float64
 28  Deck                                  33052 non-null  float64
 29  Patio                                 33078 non-null  float64
 30  Porch                                 33145 non-null  float64
 31  PrimarySpaceHeatingFuel               33307 non-null  float64
 32  PrimarySpaceHeatingSystem             33109 non-null  float64
 33  CentralAir-conditioning               33380 non-null  float64
 34  SquareFootAreaofHouse                 33110 non-null  float64
 35  Weight                                34127 non-null  int64
 36  SquareFootAreaoftheLotFlag            34127 non-null  int64
 37  SquareFootAreaofFinishedBasementFlag  34127 non-null  int64
 38  SalesPriceFlag                        34127 non-null  int64
 39  ContractPriceFlag                     34127 non-null  int64
 40  LotValueFlag                          34127 non-null  int64
 41  SquareFootAreaofHouseFlag             34127 non-null  int64
 42  PermitAuthorizationDate               34127 non-null  int64
dtypes: float64(22), int64(21)
memory usage: 11.2 MB

In [127]:
dfs=dt[dt['CategoryCode']==1]

In [128]:
dfs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23292 entries, 0 to 33903
Data columns (total 43 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Unnamed: 0                            23292 non-null  int64
 1   CategoryCode                          23292 non-null  int64
 2   StartDate                             23292 non-null  int64
 3   CompletionDate                        23292 non-null  int64
 4   SaleDate                              23292 non-null  int64
 5   Division                              23292 non-null  int64
 6   MetropolitanArea                      23292 non-null  int64
 7   SalesPrice                            18734 non-null  float64
 8   ContractPrice                         0 non-null      float64
 9   LotValue                              23292 non-null  int64
 10  ClosingCostsinSalesPrice              23292 non-null  int64
 11  TypeofFinancing                       18741 non-null  float64
 12  SquareFootAreaoftheLot                21016 non-null  float64
 13  FinishedBasement                      23292 non-null  int64
 14  SquareFootAreaofFinishedBasement      1331 non-null   float64
 15  DesignofHouse                         23287 non-null  float64
 16  Condominium                           23292 non-null  int64
 17  ConstructionMethod                    23247 non-null  float64
 18  Bedrooms                              23008 non-null  float64
 19  FullBathrooms                         23292 non-null  int64
 20  HalfBathrooms                         12143 non-null  float64
 21  Stories                               23140 non-null  float64
 22  Fireplace                             15625 non-null  float64
 23  ParkingFacility                       23292 non-null  int64
 24  Foundation                            23189 non-null  float64
 25  SecondaryExteriorWallMaterial         22807 non-null  float64
 26  PrimaryExteriorWallMaterial           22999 non-null  float64
 27  SecondaryExteriorWallMaterial.1       22789 non-null  float64
 28  Deck                                  22827 non-null  float64
 29  Patio                                 22860 non-null  float64
 30  Porch                                 22861 non-null  float64
 31  PrimarySpaceHeatingFuel               23046 non-null  float64
 32  PrimarySpaceHeatingSystem             23016 non-null  float64
 33  CentralAir-conditioning               23005 non-null  float64
 34  SquareFootAreaofHouse                 22800 non-null  float64
 35  Weight                                23292 non-null  int64
 36  SquareFootAreaoftheLotFlag            23292 non-null  int64
 37  SquareFootAreaofFinishedBasementFlag  23292 non-null  int64
 38  SalesPriceFlag                        23292 non-null  int64
 39  ContractPriceFlag                     23292 non-null  int64
 40  LotValueFlag                          23292 non-null  int64
 41  SquareFootAreaofHouseFlag             23292 non-null  int64
 42  PermitAuthorizationDate               23292 non-null  int64
dtypes: float64(22), int64(21)
memory usage: 7.8 MB

In [129]:
dfs=dfs.drop(['CategoryCode','StartDate','CompletionDate','ContractPrice','SquareFootAreaoftheLotFlag',
              'SquareFootAreaofFinishedBasementFlag','SalesPriceFlag','ContractPriceFlag','LotValueFlag',
              'SquareFootAreaofHouseFlag','PermitAuthorizationDate'], axis=1)

In [130]:
dfs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23292 entries, 0 to 33903
Data columns (total 32 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Unnamed: 0                        23292 non-null  int64
 1   SaleDate                          23292 non-null  int64
 2   Division                          23292 non-null  int64
 3   MetropolitanArea                  23292 non-null  int64
 4   SalesPrice                        18734 non-null  float64
 5   LotValue                          23292 non-null  int64
 6   ClosingCostsinSalesPrice          23292 non-null  int64
 7   TypeofFinancing                   18741 non-null  float64
 8   SquareFootAreaoftheLot            21016 non-null  float64
 9   FinishedBasement                  23292 non-null  int64
 10  SquareFootAreaofFinishedBasement  1331 non-null   float64
 11  DesignofHouse                     23287 non-null  float64
 12  Condominium                       23292 non-null  int64
 13  ConstructionMethod                23247 non-null  float64
 14  Bedrooms                          23008 non-null  float64
 15  FullBathrooms                     23292 non-null  int64
 16  HalfBathrooms                     12143 non-null  float64
 17  Stories                           23140 non-null  float64
 18  Fireplace                         15625 non-null  float64
 19  ParkingFacility                   23292 non-null  int64
 20  Foundation                        23189 non-null  float64
 21  SecondaryExteriorWallMaterial     22807 non-null  float64
 22  PrimaryExteriorWallMaterial       22999 non-null  float64
 23  SecondaryExteriorWallMaterial.1   22789 non-null  float64
 24  Deck                              22827 non-null  float64
 25  Patio                             22860 non-null  float64
 26  Porch                             22861 non-null  float64
 27  PrimarySpaceHeatingFuel           23046 non-null  float64
 28  PrimarySpaceHeatingSystem         23016 non-null  float64
 29  CentralAir-conditioning           23005 non-null  float64
 30  SquareFootAreaofHouse             22800 non-null  float64
 31  Weight                            23292 non-null  int64
dtypes: float64(21), int64(11)
memory usage: 5.9 MB

In [131]:
dfs['Foundation'].value_counts()

3.0    11381
1.0     8752
2.0     2709
4.0      347
Name: Foundation, dtype: int64

In [122]:
#dfs['FinishedBasement'] = dfs[dfs['Foundation']==1 ,'FinishedBasement'].replace(0,np.NaN)

In [138]:
dfs.head().apply(lambda x: x)

AttributeError: 'Series' object has no attribute 'columns'

In [124]:
dfs.isnull().sum()

Unnamed: 0                              0
SaleDate                                0
Division                                0
MetropolitanArea                        0
SalesPrice                           4558
LotValue                                0
ClosingCostsinSalesPrice                0
TypeofFinancing                      4551
SquareFootAreaoftheLot               2276
FinishedBasement                    14699
SquareFootAreaofFinishedBasement    21961
DesignofHouse                           5
Condominium                             0
ConstructionMethod                     45
Bedrooms                              284
FullBathrooms                           0
HalfBathrooms                       11149
Stories                               152
Fireplace                            7667
ParkingFacility                         0
Foundation                            103
SecondaryExteriorWallMaterial         485
PrimaryExteriorWallMaterial           293
SecondaryExteriorWallMaterial.1       503
Deck                                  465
Patio                                 432
Porch                                 431
PrimarySpaceHeatingFuel               246
PrimarySpaceHeatingSystem             276
CentralAir-conditioning               287
SquareFootAreaofHouse                 492
Weight                                  0
dtype: int64